<div id="header" class="row">

        <div id="dev-navbar" class="offset-3 col-6">
            <div class="text-center">
                <div class="navbar">
                    <div class="dropdown">
                        <button class="nav-drop-btn">Intro</button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="/">00 Page 0</a>
                                <a class="dropdown-item" href="individual-login">01 Login</a>
                                <a class="dropdown-item" href="study-consent">02 Informed Consent Form</a>
                                <a class="dropdown-item" href="no-study-consent">02b No Study Consent</a>
                                <a class="dropdown-item" href="eligibility-notice">03 Eligibility Notice</a>
                                <a class="dropdown-item" href="welcome">04 Welcome</a>
                            </div>
                    </div>
                  
                    <div class="dropdown">
                        <button class="nav-drop-btn">Task One</button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="instructions-1">05 Instructions Task 1</a>
                                <a class="dropdown-item" href="task-1-part-1">06 Task 1 Part 1</a>
                                <a class="dropdown-item" href="task-1-part-2">07 Task 1 Part 2</a>
                            </div>
                    </div>
                  
                    <div class="dropdown">
                        <button class="nav-drop-btn">Task Two</button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="instructions-2">08 Task 2 Instructions</a>
                                <a class="dropdown-item" href="task-2-part-1a">09a Task 2 Part 1a</a>
                                <a class="dropdown-item" href="task-2-part-1b">09b Task 2 Part 1b</a>
                                <a class="dropdown-item" href="task-2-part-2">10 Task 2 Part 2</a>
                                <a class="dropdown-item" href="task-2-part-3">11 Task 2 Part 3</a>
                            </div>
                    </div>
                  
                    <div class="dropdown">
                        <button class="nav-drop-btn">Task Three</button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="instructions-3">12 Task 3 Instructions</a>
                                <a class="dropdown-item" href="scenario-1">13 Scenario 1</a>
                                <a class="dropdown-item" href="task-3-part-1">14 Task 3 Part 1</a>
                                <a class="dropdown-item" href="scenario-2">15 Scenario 2</a>
                                <a class="dropdown-item" href="task-3-part-2">16 Task 3 Part 2</a>
                                <a class="dropdown-item" href="scenario-3">17 Scenario 3</a>
                                <a class="dropdown-item" href="task-3-part-3">18 Task3 Part 3</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="study-conclusion">19 Study Conclusion</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>