
<div class="col-2">


        <div class="row h-100">
            <div class="col-md-12 align-self-end">
                
                    <div class="float-left pt-2 pl-2">
                        <a id="skip-btn" role="button" onclick="completeQuestions(); removeWarning();" class="btn btn-lg btn-warning float-left hand-curser">Skip</a>
                    </div>

            </div>
        </div>


</div>