

<tr>
    <td class="text-left">{{this.text}}</td>

    <td>
    <select class="form-control">
        <option value="one">{{this.options.[0]}}</option>
        <option value="two">{{this.options.[1]}}</option>
        <option value="three">{{this.options.[2]}}</option>
        <option value="four">Four</option>
        <option value="five">Five</option>
    </select>
    </td>
</tr>

{{!-- 
                {{#each perguntas}}
                    {{> radiorow this}}
                {{/each}}


    {
        "id": 207,
        "section": 2,
        "page": 10,
        "text": "Roughly what fraction of your assessment during your degree was based on group work or team assignments?",
        "type": "dropdown",
        "options": "option 1; option 2; option 3"
    }, --}}