<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- todo: check if HandheldFriendly is required -->
<!-- <meta name="HandheldFriendly" content="True" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Superteams Survey</title>

<!-- Bootstrap -->
<!-- Temporarily removing link -->
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>

<!-- Bootstrap stored locally -->
<!-- Link below is not working -->

<link rel="stylesheet" href="stylesheets/bootstrap-local-4.3.1.css">

<!-- todo: Check what uses the jquery-ui.css -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- todo: Check that this is working -->
<link rel="stylesheet" href="http://teamwork.harvarddecisionlab.org/css/style.css">