

<div class="container">
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="dropdown">
  <button class="dropbtn">Intro</button>
  <div class="dropdown-content">
          <a class="dropdown-item" href="individual-login">0a-login</a>
          <a class="dropdown-item" href="study-consent">1a-study-consent</a>
          <a class="dropdown-item" href="no-study-consent">1b-no-study-consent</a>
          <a class="dropdown-item" href="eligibility-notice">1c-eligibility</a>
          <a class="dropdown-item" href="welcome">2a-welcome</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Task One</button>
  <div class="dropdown-content">
      <a class="dropdown-item" href="instructions-1">3a-instructions-1</a>
      <a class="dropdown-item" href="task-1">3b-task-1</a>
      <a class="dropdown-item" href="task-2-pt-2">3b-task-1-pt-2</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Task Two</button>
  <div class="dropdown-content">
          <a class="dropdown-item" href="instructions-2">4a-instructions-2</a>
          <a class="dropdown-item" href="task-2">4b-task-2</a>
          <a class="dropdown-item" href="task-2-pt-2">4c-task-2-pt-2</a>
          <a class="dropdown-item" href="task-2-pt-3">4d-task-2-pt-3</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Task Three</button>
  <div class="dropdown-content">
          <a class="dropdown-item" href="instructions-3">5a-instructions-3</a>
          <a class="dropdown-item" href="scenario-1">5b-scenario-1</a>
          <a class="dropdown-item" href="task-3">5c-task-3</a>
          <a class="dropdown-item" href="scenario-2">5d-scenario-2</a>
          <a class="dropdown-item" href="task-3-pt-2">5e-task-3-pt-2</a>
          <a class="dropdown-item" href="scenario-3">5f-scenario-3</a>
          <a class="dropdown-item" href="task-3-pt-3">5g-task3-pt3</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="study-conclusion">study-conclusion</a>
  </div>
</div>


</div>

{{!-- todo: check which scripts control the dropdown --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>