<thead>
    <tr>
        <td class="blank"></td>
        <th class="key">
        <div class="text-center font-size-sm"><span class="font-weight-normal">Very<br></span><span class="text-danger">Ineffective</span></div>
        </th>
        <th class="key">
        <div class="text-center font-size-sm"><span class="font-weight-normal">Somewhat<br></span><span class="text-danger">Ineffective</span></div>
        </th>
        <th class="key">
        <div class="text-center text-secondary font-weight-normal font-size-sm"><span>Neutral</span></div>
        </th>
        <th class="key">
        <div class="text-center font-size-sm"><span class="font-weight-normal">Somewhat<br></span><span class="text-success">Effective</span></span></div>
        </th>
        <th class="key">
        <div class="text-center font-size-sm"><span class="font-weight-normal">Very<br></span><span class="text-success">Effective</span></span></div>
        </th>
    </tr>
</thead>