<tr>
    <td class="blank"></td>
    <th class=>
    <div class="text-center"><span class="font-weight-normal">Strongly<br></span><span class="text-danger">disagree</span></div>
    </th>
    <th>
    <div class="text-center"><span class="font-weight-normal">Somewhat<br></span><span class="text-danger">disagree</span></div>
    </th>
    <th>
    <div class="text-center"><span><span class="text-secondary font-weight-normal">No opinion</span></span></div>
    </th>
    <th>
    <div class="text-center"><span class="font-weight-normal">Somewhat</span><span class="text-success"><br>agree</span></div>
    </th>
    <th>
    <div class="text-center"><span class="font-weight-normal">Strongly</span><span class="text-success"><br>agree</span></div>
    </th>
</tr>