
{{!-- Close Header Div --}}

<div id="content-heading">
</div>

    <div id="content-main" class="mx-xs-0 mx-sm-2 mx-md-3 mx-lg-5">
        <div class="row justify-content-center bespoke-60vh-vertical-align">
            <div class="col-md-8 col-sm-10 p-4">
              <form method="POST">
                <fieldset class="bg-light p-4 rounded">
                    <div class="form-group">
                        <div class="my-5">
                            <label for="participant_id">First Name</label>
                            <input type="text" class="form-control" name="firstNameOnLogin" value="" required>
                        </div>
                        <div class="my-5">
                            <label for="participant_id">Family Name</label>
                            <input type="text" class="form-control" name="familyNameOnLogin" value="" required>
                        </div>
                        <div class="my-5">
                            <label for="participant_id">Email</label>
                            <input type="email" class="form-control" name="emailOnLogin" value="" required>
                        </div>
                        <div>
                            {{#if errorMessage }}
                                <div class="error-message">{{ errorMessage }}</div>
                            {{/if}}
                        </div>
                    </div>
  
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-success hand-curser">Begin Survey</button>
                    </div>
                </fieldset>
              </form> 
            </div>
          </div>
    {{!-- closing div of end of content main below --}}
    </div>

<div id="footer">
</div>