
{{> 1contentheading}}
</div>
    {{> 2contentmain}}

        <div class="row justify-content-center bespoke-60vh-vertical-align">
            <div class="col-md-8 col-sm-10 p-4 ">
              <form action="/study-consent" method="POST">
                <fieldset class="bg-light p-4 rounded">
                    <div class="form-group">
                        <div class="my-5">
                        <label for="participant_id">First Name</label>
                        <input type="text" class="form-control" name="firstNameOnLogin" value="">
                        </div>
                        <div class="my-5">
                        <label for="participant_id">Family Name</label>
                        <input type="text" class="form-control" name="familyNameOnLogin" value="">
                        </div>
                        <div class="my-5">
                        <label for="participant_id">Email</label>
                        <input type="email" class="form-control" name="emailOnLogin" value="">
                        </div>
                    </div>
  
                    <div class="text-center">
                    <button href="/eligibility-notice" class="btn btn-lg btn-success" type="submit">Login</button>
                    </div>
                </fieldset>
              </form> 
            </div>
          </div>
    {{!-- closing div of end of content main below --}}
    </div>

{{> 3footer}}
</div>