<div class="container-fluid col-md-10">
  {{> verticalCenterDiv}}
    <div class="col-md-12 text-left">
      {{> navbar}}
      <h2 class="text-center m-5">Informed Consent Form</h2>
          {{#each stdConsent}} 
            <p><span class="consent-heading">{{this.heading}}</span>: {{{this.text}}}</p>                 
          {{/each}}         
      <a href="/no-study-consent" role="button" class="btn btn-lg btn-warning float-left my-2">I do not consent</a>
      <a href="/eligibility-notice" role="button" class="btn btn-lg btn-success float-right my-2">I Consent</a>
    </div>
  </div>
</div>