<div class="header-or-footer-10 text-center row">

    <div class="col-2">
    </div>

    <div class="col-8">
        <div class="row h-100">
            <div class="col-12 align-self-end d-md-none d-lg-block">
                <h2>Informed Consent Form</h2>
            </div>
        </div>
    </div>

    {{> 8increaseTextSizeBtn}}

</div>

<div id="informed-consent-form-text-box" class="main-h-80 py-lg-5 px-lg-5 font-size-100">
    <div class="row h-100 d-flex align-items-stretch">
        {{#each stdConsent}}
        <div class="col-12 text-left d-xs-none d-sm-none d-md-block">
            <span class="consent-heading">{{this.subheading}}</span><span>: {{{this.text}}}</span>
        </div>
        {{/each}}
    </div>
</div> {{!-- << closing div of informed-consent-form-text-box --}}

<div class="header-or-footer-10 text-center row mx-md-0 mx-lg-4">
    {{> 4footerleft}}
            <a href="/no-study-consent" role="button" class="btn btn-lg btn-warning float-left">I Do <strong>NOT </strong>Consent</a>
        </div>
    </div>

    {{> 5footermiddle}}
        </div>
    </div>

    {{> 6footerright}}
            <a href="/eligibility-notice" role="button" class="btn btn-lg btn-success float-right">I Consent</a>
        </div>
    </div>
</div> {{!-- << closing div of footer --}}
