<div class="container">
  <div class="row">
    <div class="col-md-12 text-left">
      <h2 class="text-center m-5">
        Informed Consent Form
      </h2>
          <p>
            <span class="consent-em">PURPOSE OF RESEARCH STUDY</span>: To understand the relationship between measures of social skill and fluid intelligence.
          </p>
          <p>
            <span class="consent-em">WHAT YOU’LL DO</span>: This is a follow-up survey. We will ask you some demographic questions about your work history and experience of teamwork, along with a ‘situational judgment test’ to assess your knowledge of working in a team.
          </p>
          <p>
            <span class="consent-em">RISKS</span>: There are no risks for participating in this study beyond those associated with normal computer use, including fatigue and mild stress.
          </p>
          <p>
            <span class="consent-em">COMPENSATION</span>: Overall, compensation for this experiment will be $15.
          </p>
          <p>
            <span class="consent-em">PLEASE NOTE</span>: This study contains a number of checks to make sure that participants are finishing the tasks honestly and completely.
          </p>
          <p>
            <span class="consent-em">VOLUNTARY PARTICIPATION AND RIGHT TO
              WITHDRAW</span>: Participation in this study is voluntary, and you can stop at any time without any penalty. To stop, simply close your browser window. Partial data will not be analyzed.
          </p>
          <p>
            <span class="consent-em">CONFIDENTIALITY</span>: All data collected as part of this study will be anonymized (and personal information, such as your email address, will be removed).
          </p>
          <p>
            <span class="consent-em">CONTACT INFORMATION</span>: If you have any questions about this research, you may contact: Ben Weidmann at
            <a href="mailto:benweidmann@g.harvard.edu">benweidmann@g.harvard.edu</a>,
            or David Deming at <a href="mailto:david_deming@harvard.edu">david_deming@harvard.edu</a>
          </p>
          <p>
            <span class="consent-em">CLICKING ACCEPT</span>: By clicking on the "I Consent" button, you indicate that you are 18 years of age or older, that you voluntarily agree to participate in this study and that you understand the information in this consent form.
          </p>

      <a href="/no-study-consent" role="button" class="btn btn-lg btn-warning float-left my-4">I do not consent</a>
{{!-- todo: change href below --}}
      <a href="/eligibility-notice" role="button" class="btn btn-lg btn-success float-right my-4">I Consent</a>
    </div>
  </div>
</div>