
{{> 1contentheading}}
</div>

    {{> 2contentmain}}
          <div class="bespoke-vertical-center">
              <h2 class="text-center">
                    Thank you for considering participation in the study.<br>
              </h2>
          </div>
    </div>

{{> 3footer}}
</div>