<div class="container">
  {{> verticalCenterDiv}}
    <div class="col-md-12 text-center">
      {{> navbar}}
      <h3>
        Thank you for considering participation in the study.
      </h3>
    </div>
  </div>
</div>