<div class="container">
  {{> verticalCenterDiv}}
    <div class="col-md-12 text-center">
      <h2 class="text-primary m-5">Eligibility Notice</h2>

          {{#each eligpg3}} 
            <h4 class="my-4">{{{this.text}}}</h4>                 
          {{/each}}
        
        <h4>
        <a href="/no-study-consent" role="button" class="btn btn-lg btn-warning float-left my-4">I Do <strong>NOT</strong> Agree</a>
        <a href="/welcome" role="button" class="btn btn-lg btn-success float-right my-4">I agree</a>
        </h4>
    </div>
  </div>
</div>





