
<div id="content-heading-b" class="text-center row">

    <div class="col-2">
    </div>

    <div class="col-8">
        <div class="row h-100">
            <div class="col-md-12 align-self-end">
                <h2>Eligibility Notice</h2>
            </div>
        </div>
    </div>

    <div class="col-2">
    </div>

</div>

<div id="content-main-b">
    <div class="row justify-content-center bespoke-vertical-align-b">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 text-center px-md-3 px-lg-5">

            {{#each eligpg3}} 
                <h4 class="my-sm-2 my-md-3 my-lg-5">{{{this.text}}}</h4>
            {{/each}}

        </div>
    </div>
{{!-- closing div of end of contentmain below --}}
</div>


<div id="footer-b" class="row mx-xs-0 mx-sm-2 mx-md-3 mx-lg-5">

    {{> 4footerleft}}
            <a href="/no-study-consent" role="button" class="btn btn-lg btn-warning float-left">I Do <strong>NOT </strong>Agree</a>
        </div>
    </div>

    {{> 5footermiddle}}
        </div>
    </div>

    {{> 6footerright}}
            <a href="/welcome" role="button" class="btn btn-lg btn-success float-right">I agree</a>
        </div>
    </div>
{{!-- closing div of footer below --}}
</div>