{{!-- todo: this isn't working at the moment --}}

<div class="container">
  <div class="row vertical-center">
    <div class="col-md-12 text-center">
      <h2 class="text-primary">Eligibility Notice</h2>
        <h4>Our study requires participants who try their best in these Online Tasks. If you skip through questions, or don’t read the instructions, your responses cannot be used.</h4>
        <h4><strong>Our tasks contain checks to see whether or not you’re reading the instructions and the questions.</strong></h4>
        <h4>Everybody who makes a genuine attempt to answer the questions will be eligible for the Superteams study, regardless of your score.</h4>
        <h4>Click "I agree" if you would like to proceed. If not, thank you for your time!</h4>
        <h4>
            <a href="/no-study-consent" role="button" class="btn btn-lg btn-warning float-left">I Do Not Agree</a>
            <a href="/welcome" role="button" class="btn btn-lg btn-success float-right">I Agree</a>
        </h4>
    </div>
  </div>
</div>