
<div id="content-heading-b" class="mx-xs-0 mx-sm-2 mx-md-3 mx-lg-5 text-center">
    <div class="row h-100">
        <div class="col-md-12 align-self-end">
            <h2 class="text-primary">Welcome to the follow-up survey for the Superteams study!</h2>
        </div>
    </div>
</div>


<div id="content-main-b">
    <div class="row justify-content-center bespoke-vertical-align-b">
        <div class="col-xs-12 col-sm-10 col-md-10 text-center">

          {{#each welcomepg4}}
            <h4 class="my-sm-0 my-md-3 mt-xl-4">{{{this.text}}}</h4>                 
          {{/each}}

        </div>
    </div>
{{!-- closing div of end of contentmain below --}}
</div>

<div id="footer-b" class="row pb-xs-0 pb-sm-2 pb-md-3 pb-lg-5 mx-xs-0 mx-sm-2 mx-md-3 mx-lg-5">

    {{> 4footerleft}}
        </div>
    </div>

    {{> 5footermiddle}}
            <a class="btn btn-lg btn-primary" role="button" href="instructions-1">Next</a>
        </div>
    </div>

    {{> 6footerright}}
        </div>
    </div>
{{!-- closing div of footer below --}}
</div>
