
<div id="content-heading-b" class="mx-xs-0 mx-sm-2 mx-md-3 mx-lg-5 text-center row">

    <div class="col-1">
    </div>

    <div class="col-10">
        <div class="row h-100">
            <div class="col-md-12 align-self-end">
                <h2 class="text-primary">Welcome to the follow-up survey for the Superteams study!</h2>
            </div>
        </div>
    </div>

    <div class="col-1">
        <div class="row h-100">
            <div class="col-md-12 align-self-end">
                <div class="float-right pt-2 pr-2">
                    <a id="toggle-text-size-btn" role="button" onclick="toggleFontSize();" class="btn btn-lg btn-secondary text-white float-right hand-curser"><strong>a</strong>A</a>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="content-main-b" class="font-size-bigger-120">
    <div class="row justify-content-center bespoke-vertical-align-b">
        <div class="col-xs-12 text-center">

          {{#each welcomepg4}}
            <p class="my-sm-0 my-md-2 px-4">{{{this.text}}}</p>                
          {{/each}}

        </div>
    </div>
{{!-- closing div of end of contentmain below --}}
</div>

<div id="footer-b" class="row pb-xs-0 pb-sm-2 pb-md-3 pb-lg-5 mx-xs-0 mx-sm-2 mx-md-3 mx-lg-5">

    {{> 4footerleft}}
        </div>
    </div>

    {{> 5footermiddle}}
            <a class="btn btn-lg btn-primary" role="button" href="instructions-1">Next</a>
        </div>
    </div>

    {{> 6footerright}}
        </div>
    </div>
{{!-- closing div of footer below --}}
</div>
