<div class="container">
  {{> verticalCenterDiv}}
    <div class="col-md-12 text-center">
      {{> navbar}}
      <h2 class="text-primary m-5">Welcome to the follow-up survey for the Superteams study!</h2>

          {{#each welcomepg4}} 
            <h4 class="my-4">{{{this.text}}}</h4>                 
          {{/each}}

        <div class="text-center my-4">
        <a class="btn btn-lg btn-primary" role="button" href="instructions-1">Next</a>
      </div>
    </div>
  </div>
</div