
<div class="header-or-footer-10 text-center row">

    <div class="col-1">
    </div>

    <div class="col-10">
        <div class="row h-100">
            <div class="col-12 align-self-end d-md-none d-lg-block">
                <h2 class="text-primary">Welcome to the follow-up survey for the Superteams study!</h2>
            </div>
        </div>
    </div>

    <div class="col-1">
        <div class="row h-100">
            <div class="col-md-12 align-self-end">
                <div class="float-right pt-2 pr-2">
                    <a id="toggle-text-size-btn" role="button" onclick="toggleFontSize();" class="btn btn-lg btn-secondary text-white float-right hand-curser"><strong>a</strong>A</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="welcome-text-box" class="main-h-80 py-lg-5 px-lg-5 font-size-110">
    <div class="p-md-0 p-lg-3 p-xl-5 h-100">
    <div class="row h-100 d-flex align-items-stretch">
        {{#each welcomepg4}}
            <div class="d-flex align-items-center justify-content-center col-12">
                <span class="text-center">{{{this.text}}}</span>                
            </div>
        {{/each}}
    </div>
    </div>
{{!-- closing div of end of contentmain below --}}
</div>

<div class="header-or-footer-10 text-center row mx-md-0 mx-lg-4">
    {{> 4footerleft}}
        </div>
    </div>

    {{> 5footermiddle}}
            <a class="btn btn-lg btn-primary" role="button" href="instructions-1">Next</a>
        </div>
    </div>

    {{> 6footerright}}
        </div>
    </div>
</div> {{!-- << closing div of footer --}}
