{{!-- todo: finish this bit --}}

<div class="container">
  <div class="row vertical-center">
    <div class="col-md-12 text-center">
      <h2 class="text-primary">Welcome to the follow-up survey for the Superteams study!</h2>
        <h4>This survey is only available to people who successfully participated in Superteams.</h4>
        <h4>These questions take <strong>40 minutes</strong>. We will ask questions about your work experience, and your views on teamwork.</h4>
        <h4>There are <strong>three parts</strong>. Some will take longer than others, but not more than 20 minutes. </h4>
        <h4>If you have to stop, that's OK. Your answers will be saved. To continue, come back to this website <span class="text-primary">(URL HERE)</span> re-enter the <strong>same login details</strong> and pick up where you left off.</h4>
        <h4 class="text-danger">Note: These tasks <strong>must</strong> be done on a laptop or desktop computer. They <strong>cannot</strong> be done on a mobile phone or tablet.</h4>
        <div class="text-center">
        <a class="btn btn-lg btn-primary" role="button" href="instructions-1">Next</a>
      </div>
    </div>

  </div>
</div>