<div class="container">
  {{> verticalCenterDiv}}
    <div class="col-md-10 text-center">
      <h2 class="text-primary m-5">
        Task 1 (of 3)
      </h2>
      {{> instructionsStartLine }}
      The purpose of this task is to understand your views about teamwork and working independently.
      {{> instructionsEndLine }}
      {{> instructionsStartLine }}
      It shouldn’t take more than 5 minutes. 
      {{> instructionsEndLine }}
      {{> instructionsStartLine }}
       Please be as honest as possible. Your answers will be kept in absolute confidence, and fully anonymized.
      {{> instructionsEndLine }}
      <div class="text-center m-5">
        <a class="btn btn-lg btn-primary" role="button" href="task-1">Next</a>
      </div>
    </div>
  </div>
</div>