<form method="POST" class="h-100">
<div id="content-heading-b" class="text-center">
    <div class="row h-100">
        <div class="col-md-12 align-self-end">
            <h2 class="text-primary">{{#each instructions}}{{#if heading}}{{this.text}}{{/if}}{{/each}}</h2>
        </div>
    </div>
</div>

<div id="content-main-b">
    <div class="row justify-content-center bespoke-vertical-align-b">
        <div class="col-xs-12 col-sm-10 col-md-8 text-center">

          {{#each instructions}}
            {{#if info}}
                <h4 class="my-sm-3 my-md-4 my-lg-4 my-xl-5">{{{this.text}}}</h4>
            {{/if}}
          {{/each}}

        </div>
    </div>
{{!-- closing div of end of contentmain below --}}
</div>

<div id="footer-b" class="row">

    {{> 4footerleft}}
        </div>
    </div>

    {{> 5footermiddle}}
            <button role="button" type="submit" class="btn btn-lg btn-primary hand-curser">Next</button>
        </div>
    </div>

    {{> 6footerright}}
        </div>
    </div>
{{!-- closing div of footer below --}}
</div>
</form>