<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 text-center inst">
      <h2 class="text-primary m-5">
        Task 1 (of 3)
      </h2>
      {{!-- <div class="m-4"> --}}
      <h4 class="m-3">
        The purpose of this task is to understand your views about teamwork and working independently.
      </h4>
      {{!-- </div> --}}
      <h4 class="m-3">
        It shouldn’t take more than 5 minutes. 
      </h4>
      <h4 class="m-3">
       Please be as honest as possible. Your answers will be kept in absolute confidence, and fully anonymized.
      </h4>
      <div class="text-center m-5">
        <a class="btn btn-lg btn-primary" role="button" href="task-1">Next</a>
      </div>
    </div>
  </div>
</div>