<div id="content-heading-e" class="text-center row">

    {{> 7completeAllQuestions}}

    {{> 9emptyCol8Div}}

    <div class="col-2">
        <div class="row h-100">
            <div class="col-md-12 align-self-end">
                <div class="float-right pt-2 pr-2">
                </div>
            </div>
        </div>
    </div>

</div>


<div id="content-main-e">
    <div class="justify-content-center bespoke-vertical-align-e col-sm-12 text-left">
        <div>
            <form onSubmit="return checkQuestions(getArrayOfQuestions());" method="POST">
                    <table class="table table-striped">
                        {{> radioTask1HeadingAgree}}
                        {{#each perguntas}} {{> radioTask1 this}} {{/each}}
                    </table> 
                    
            
        </div>
    </div>
{{!-- closing div of end of contentmain below 

return checkQuestions(getArrayOfQuestions());

--}}
</div>


<div id="footer-e" class="row">

    <div class="col-2">
        <div class="float-left">
            {{#if urlsAndPages.backbutton}}
            <a href={{urlsAndPages.previousPage}} role="button" class="btn btn-lg btn-secondary float-left">Back</a>
            {{/if}}
        </div>
    </div>

    <div class="col-8">
        <div class="text-center">

            <div id="warning-message-small"></div>

            {{#if urlsAndPages.pagination}}
            <div id="page-number">{{> pageNumberFormat}}{{urlsAndPages.pagination}}</div></div>
            {{/if}}

        </div>
    </div>

    <div class="col-2">
        <div class="float-right">
            <button role="button" type="submit" class="btn btn-lg btn-primary text-white float-right hand-curser">Next</button>
        </div>
        </form>
    </div>
{{!-- closing div of footer below --}}    
     
</div>