
{{> containerDiv}}
    {{> verticalCenterDiv}}         
        <form action="#" method="POST">
            <div>
                {{> radioTableHeaderBig}}
                    {{> radioheadingagree}}
                    {{#each perguntas}} {{> radioRowNormalText this}} {{/each}}
                </table>

            {{> nextBtnFormValidation }}
            </div>        
            {{> warningMessage}}
            <div id="page-number">{{> pageNumberFormat}}Page 1 of 2</div></div>
        </form>
    </div>
</div>