<div id="content-heading-e" class="text-center">
    <div class="row h-100">
        <div class="col-md-12 align-self-end">
            <h2 class="text-primary"></h2>
        </div>
    </div>
</div>

<div id="content-main-e">
    <div class="justify-content-center bespoke-vertical-align-e col-sm-12 text-left">
        <div>
            <form action="#" method="POST">
                    <table class="table table-striped">
                        {{> radioTask1HeadingAgree}}
                        {{#each perguntas}} {{> radioTask1 this}} {{/each}}
                    </table> 
                    
            </form>
        </div>
    </div>
{{!-- closing div of end of contentmain below --}}
</div>


<div id="footer-e" class="row">

    {{> 4footerleft}}
            {{#if urlsAndPages.backbutton}}
            <a href={{urlsAndPages.previousPage}} role="button" class="btn btn-secondary float-left">Back</a>
            {{/if}}
        </div>
    </div>

    {{> 5footermiddle}}

            <div id="warning-message-small"></div>

            {{#if urlsAndPages.pagination}}
            <div id="page-number">{{> pageNumberFormat}}{{urlsAndPages.pagination}}</div></div>
            {{/if}}

        </div>
    </div>

    {{> 6footerright}}
            <a role="button" onclick="checkQuestions(getArrayOfQuestions());" class="btn btn-primary text-white float-right hand-curser">Next</a>
        </div>
    </div>
{{!-- closing div of footer below --}}            
</div>