    
{{> containerDiv}}
    {{> verticalCenterDiv}}         
        <form action="#" method="POST">
            <div>
                {{> radioTableHeaderBig}}
                    {{> radioheadingagree}}
                    {{#each perguntas}} {{> radioRowNormalText this}} {{/each}}
                </table>
            <a href="task-1" role="button" class="btn btn-lg btn-secondary float-left">Back</a>
            {{> nextBtnFormValidation }}
            </div>        
            {{> warningMessage}}
        <div id="page-number">{{> pageNumberFormat}}Page 2 of 2</div></div>
        </form>
        
    </div>  
</div> 
