{{!-- The Dynamic code is in views/4b-task-2dynamic.hbs. MVP will not work dynamically as I need to sort out the code  --}}

<div id="inst_1" class="inst">
    <table class="table table-striped table-sm mt-lg-4 big-five">
        {{#each perguntas}}
            {{> dropdown this}}
        {{/each}}
    </table>
</div>
    