{{!-- The Dynamic code is in views/4b-task-2dynamic.hbs. MVP will not work dynamically as I need to sort out the code  --}}

<form action="#" method="POST">

<div id="inst_1" class="inst">
    <table class="table table-striped table-sm mt-lg-4 big-five">

        <tr>
            <td class="text-left">Are you currently employed?</td>
            <td>
            <select class="form-control">
                <option value="one">yes</option>
                <option value="two">no</option>
                <option value="three">full-time student</option>
            </select>
            </td>
        </tr>

        <tr>
            <td class="text-left">What industry do you work in?</td>
            <td>
            <select class="form-control">
                <option>option 1 [BW to provide]</option>
                <option>option 2 [BW to provide]</option>
                <option>option 3 etc. [BW to provide]</option>
            </select>
            </td>
        </tr>

        <tr>
            <td class="text-left">What is your role?</td>
            <td>
            <select class="form-control">
                <option value="one">option 1 [BW to provide]</option>
                <option value="two">option 2 [BW to provide]</option>
                <option value="three">option 3 etc. [BW to provide]</option>
            </select>
            </td>
        </tr>

        <tr>
            <td class="text-left">On average, how many times per week do you meet with co-workers to discuss work?</td>
            <td>
            <select class="form-control">
                <option value="one">once</option>
                <option value="two">2 times</option>
                <option value="three">3 times</option>
                <option value="four">every day</option>
                <option value="five">multiple times per day</option>
            </select>
            </td>
        </tr>

        <tr>
            <td class="text-left">What is your annual salary?</td>
            <td>
            <select class="form-control">
                <option value="1">$10-20k</option>
                <option value="2">$20-30k</option>
                <option value="3">$30-40k</option>
                <option value="4">$40-50k</option>
                <option value="5">$50-70k</option>
                <option value="6">$70-90k</option>
                <option value="7">$90-120k</option>
                <option value="8">$120-150k</option>
                <option value="9">$150-200k</option>
                <option value="10">$>200k</option>
                <option value="11"> prefer not to say</option>
            </select>
            </td>
        </tr>

    </table>
</div>


    <div class="text-center">
        <a class="btn btn-lg btn-primary" role="button" href="task-2-pt-2">Next</a>
    </div>

</form>