
{{> containerDiv}}
    {{> verticalCenterDiv}}
        <form action="#" method="POST">
            <div>
                <table class="table table-striped">

        <tr>
            <td class="text-left bigger-text">If you are a current student OR have completed a degree, what was your major?</td>
            <td>
            <select class="form-control">
                <option disabled selected value> -- select an option -- </option>
                <option>option 1 [BW to provide]</option>
                <option>option 2 [BW to provide]</option>
                <option>option 3 etc. [BW to provide]</option>
            </select>
            </td>
        </tr>

        <tr>
            <td class="text-left bigger-text">Roughly what fraction of your assessment during your degree was based on group work or team assignments?</td>
            <td>
            <select class="form-control">
                <option disabled selected value> -- select an option -- </option>
                <option>option 1 [BW to provide]</option>
                <option>option 2 [BW to provide]</option>
                <option>option 3 etc. [BW to provide]</option>
            </select>
            </td>
        </tr>

        <tr>
            <td class="text-left bigger-text">placeholder 1; David still coming up with some Q’s here</td>
            <td>
            <select class="form-control">
                <option disabled selected value> -- select an option -- </option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3 etc.</option>
            </select>
            </td>
        </tr>

        <tr>
            <td class="text-left bigger-text">placeholder 2; David still coming up with some Q’s here</td>
            <td>
            <select class="form-control">
                <option disabled selected value> -- select an option -- </option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3 etc.</option>
            </select>
            </td>
        </tr>

        <tr>
            <td class="text-left bigger-text">placeholder 3; David still coming up with some Q’s here</td>
            <td>
            <select class="form-control">
                <option disabled selected value> -- select an option -- </option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3 etc.</option>
            </select>
            </td>
        </tr>
            </table>

            <div class="float-right"><a class="btn btn-lg btn-primary float-right" role="button" href="task-2-pt-3">Next</a></div>
            </div>
            <div id="page-number">{{> pageNumberFormat}}Page 2 of 3</div></div>

        </form>
    </div>
</div>
