<div>
{{> containerDiv}}
{{> verticalCenterDiv}}

<form action="#" method="POST">
        <div id="inst_1" class="inst">
            <table class="table table-striped table-sm mt-lg-4 big-five">

        <tr>
            <td class="text-left">If you are a current student OR have completed a degree, what was your major?</td>
            <td>
            <select class="form-control">
                <option disabled selected value> -- select an option -- </option>
                <option>option 1 [BW to provide]</option>
                <option>option 2 [BW to provide]</option>
                <option>option 3 etc. [BW to provide]</option>
            </select>
            </td>
        </tr>

        <tr>
            <td class="text-left">Roughly what fraction of your assessment during your degree was based on group work or team assignments?</td>
            <td>
            <select class="form-control">
                <option disabled selected value> -- select an option -- </option>
                <option>option 1 [BW to provide]</option>
                <option>option 2 [BW to provide]</option>
                <option>option 3 etc. [BW to provide]</option>
            </select>
            </td>
        </tr>

        <tr>
            <td class="text-left">placeholder 1; David still coming up with some Q’s here</td>
            <td>
            <select class="form-control">
                <option disabled selected value> -- select an option -- </option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3 etc.</option>
            </select>
            </td>
        </tr>

        <tr>
            <td class="text-left">placeholder 2; David still coming up with some Q’s here</td>
            <td>
            <select class="form-control">
                <option disabled selected value> -- select an option -- </option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3 etc.</option>
            </select>
            </td>
        </tr>

        <tr>
            <td class="text-left">placeholder 3; David still coming up with some Q’s here</td>
            <td>
            <select class="form-control">
                <option disabled selected value> -- select an option -- </option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3 etc.</option>
            </select>
            </td>
        </tr>
            </table>
        </div>

    <div class="text-center m-5">
        <a class="btn btn-lg btn-primary" role="button" href="task-2-pt-3">Next</a>
    </div>

    {{> pageNumberFormat}}
        Page 2 of 3
    </div>

</form>

</div>
</div>
</div>