<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 text-center inst">
      <h2 class="text-primary m-5">
        Task 3 (of 3)
      </h2>
      {{!-- Structure is different from instructions 1 and 2 --}}
      <h3>
          <strong>Total time: 15 minutes</strong>
      </h3>
      <h2 class="mt-4">
          Overview
      </h2>
      <h4 class="m-3">
        The purpose of this task is to understand how you work in a team context.
      </h4>
      {{!-- <h4 class="m-3">
        It shouldn’t take more than a few minutes. 
      </h4> --}}
      <h4 class="m-3">
       You will be asked to make judgments about the <strong>best ways to act</strong> in a team facing a specific situation.  You will be presented with three separate situation descriptions, each of which is followed by ten potential responses.  You will indicate how effective each of the responses would be.  Your responses are extremely important so please complete each rating carefully.
      </h4>
       <div class="text-center m-5">
        <a class="btn btn-lg btn-primary" role="button" href="scenario-1">Next</a>
      </div>
    </div>
  </div>
</div>