<div class="container">
  {{> verticalCenterDiv}}
    <div class="col-md-10">
      <h2 class="text-primary m-4">
        Scenario 1
      </h2>
        <ul>
            {{#each sheetsSituations}}
                {{> listItems this}}
            {{/each}}
        </ul>
      {{> scenarioMessage}}

      <div class="text-center">
        <a class="btn btn-lg btn-primary my-4" role="button" href="task-3">Next</a>
      </div>
    </div>
  </div>
</div>