
<div id="content-heading-b" class="text-center">
    <div class="row h-100">
        <div class="col-md-12 align-self-end">
            <h2 class="text-primary">{{#each sheetsSituations}}{{#if heading}}{{this.text}}{{/if}}{{/each}}</h2>
        </div>
    </div>
</div>

<div id="content-main-b">
    <div class="row justify-content-center bespoke-vertical-align-b">
        <div class="col-xs-8 col-sm-10 col-md-10 text-left px-md-3 px-lg-5">
        
        <ul>
            {{#each sheetsSituations}}
            {{#if scenario}}
                <li class="p-2"> {{this.text}}</li>
            {{/if}}
            {{/each}}
        </ul>
        
        <p class="p-2">Click next to rate 10 potential responses. You can return to this scenario at any time to refresh your memory.</p>

        </div>
    </div>
{{!-- closing div of end of contentmain below --}}
</div>

<div id="footer-b" class="row">

    {{> 4footerleft}}
        </div>
    </div>

    {{> 5footermiddle}}
            <a class="btn btn-lg btn-primary" role="button" href={{urlsAndPages.nextPage}}>Next</a>
        </div>
    </div>

    {{> 6footerright}}
        </div>
    </div>
{{!-- closing div of footer below --}}
</div>