<div class="container">
  <div class="row vertical-center">
    <div class="col-md-10 offset-md-1 inst">
      <h2 class="text-primary">
        Scenario 1
      </h2>
        <ul>
          <li>You are a member of an equipment maintenance team responsible for 12 high tech manufacturing machines.</li>
          <li>Your five-person team has experts in many areas, including mechanical, electrical, &amp; hydraulic systems.</li>
          <li>You are the only member of your team with experience in the structural mechanics of the machines.</li>
          <li>One of the machines was struck by a forklift while being prepared for an important production run.</li>
          <li>The company owner quickly pulls your team together and asks if it is ok to run the machine. You are the last one to arrive at the meeting.</li>
          <li>Apparently, the team feels that there was not any visible damage to the machine and it can be used safely.  They tell you that they have looked it over and didn’t see any damage.</li>   
        </ul>
      <div class="text-center">
        <a class="btn btn-lg btn-primary" role="button" href="task-3">Next</a>
      </div>
    </div>
  </div>
</div>