{{!-- Handlebars partials can seem to deal with being on top line --}}
{{> containerDiv}}
    {{> verticalCenterDiv}}
        <form action="#" method="POST">
            <div>
                {{> radioTableHeader }}
                    {{> radioheadingeffective}}
                    {{#each perguntas}} {{> radiorow this}} {{/each}}
                </table>
                <a href="scenario-1" role="button" class="btn btn-lg btn-secondary float-left">Return to scenario 1 description</a>                
                {{> nextBtnFormValidation }}
    
            {{> warningMessage}}
                {{!-- temporarily putting a blank page number until I refactor the domManip js script --}}
            <div id="page-number">{{> pageNumberFormat}}</div></div>
        </form>
    </div>
</div>