<div class="container">
  <div class="row vertical-center">
    <div class="col-md-10 offset-md-1 inst">
      <h2 class="text-primary">
        Scenario 2
      </h2>
        <ul>
          <li>You are a member of a manufacturing production team.</li>
          <li>Your team is responsible for the production of three product lines. </li>
          <li>Last month management asked for a recommendation from your team as to whether or not your team could assume responsibility for another product line (making a total of four).</li>
          <li>Your personal view is that taking on the new product line would increase the visibility and importance of the team within the organization, which would help raise salaries and promotional opportunities. </li>
          <li>The other four members of your team feel that, in addition to the increased time and personnel demands placed on the team, current technology may not be capable of producing the new product efficiently. </li>
          <li>For the past several weeks your team has been carefully investigating the possibility of taking on another product. Your team has thoroughly discussed all the issues and would like to propose to management that the product line be manufactured at another facility.</li>
        </ul>
      <div class="text-center">
        <a class="btn btn-lg btn-primary" role="button" href="task-3-pt-2">Next</a>
      </div>
    </div>
  </div>
</div>