<div class="container">
  <div class="row vertical-center">
    <div class="col-md-10 offset-md-1 inst">
      <h2 class="text-primary">
        Scenario 3
      </h2>
        <ul>
          <li>You are a member of a long-standing manufacturing team.</li>
          <li>Your team has been together for several years and has become pretty good at handling the work at hand.</li>
          <li>Each team member is comfortable with the work process and the other team members.</li>
          <li>Your work team will be moving to a new building that has been added onto the plant.  </li>
          <li>The area manager has asked your team for some new ideas on how the equipment should be laid out in the new building.</li>
        </ul>
      <div class="text-center">
        <a class="btn btn-lg btn-primary" role="button" href="task-3-pt-3">Next</a>
      </div>
    </div>
  </div>
</div>