
<div class="header-or-footer-10 text-center row">
    <div class="row h-100">
        <div class="col-md-12 align-self-end">

        </div>
    </div>
</div>



<div class="main-h-80 py-lg-5 px-lg-5 font-size-110">
    <div class="row h-100 d-flex align-items-stretch">
        <h2 class="text-primary my-5">Congratulations</h2>
        <h4 class="my-5">You have completed the follow-up survey for Superteams</h4>
        <h4 class="my-5">Here is your redemption code: {{ reqsession.redem }}</h4>
    </div>
{{!-- closing div of end of contentmain below --}}
</div>


<div class="header-or-footer-10 text-center row mx-md-0 mx-lg-4">

    {{> 4footerleft}}
        </div>
    </div>

    {{> 5footermiddle}}
        </div>
    </div>

    {{> 6footerright}}
        </div>
    </div>
{{!-- closing div of footer below --}}
</div>