
<div id="content-heading-g" class="text-center">
    <div class="row h-100">
        <div class="col-md-12 align-self-end">

        </div>
    </div>
</div>

<div id="content-main-g">
    <div class="row justify-content-center bespoke-vertical-align-g">
        <div class="col-md-8 text-center">

                <h2 class="text-primary my-5">
                Congratulations
                </h2>
                    <h4 class="my-3">
                        You have completed the follow-up survey for Superteams
                    </h4>
                    <h4 class="my-3">
                        To get paid, you will…
                    </h4>
                    <h4 class="text-secondary my-4">
                        [Final page: we may need to give people a choice between a) being paid with an Amazon voucher and b) being paid with cash.]
                    </h4>
        </div>
    </div>
{{!-- closing div of end of contentmain below --}}
</div>


<div id="footer-g" class="row">

    {{> 4footerleft}}
        </div>
    </div>

    {{> 5footermiddle}}
        </div>
    </div>

    {{> 6footerright}}
        </div>
    </div>
{{!-- closing div of footer below --}}
</div>