
<div class="header-or-footer-10 text-center row">
    <div class="row h-100">
        <div class="col-md-12 align-self-end">

        </div>
    </div>
</div>



<div class="main-h-80 py-lg-5 px-lg-5 font-size-110">
    <div class="row h-100 d-flex align-items-stretch">

        <div class="d-flex align-items-center justify-content-center col-12">
        <h2 class="text-primary my-5">Congratulations</h2></div>

        <div class="d-flex align-items-center justify-content-center col-12">   
        <h4 class="my-2">You have completed the follow-up survey for Superteams. Below is your redemption code:</h4></div>

            <div class="d-flex align-items-center justify-content-center col-12"><h5 class="text-primary">{{ reqsession.redemptionCode }}</h5></div>
        </div>

        <div class="d-flex align-items-center justify-content-center col-12">
        <h4 class="my-1"> </h4>
        </div>
    </div>
{{!-- closing div of end of contentmain below --}}
</div>


<div class="header-or-footer-10 text-center row mx-md-0 mx-lg-4">

    {{> 4footerleft}}
        </div>
    </div>

    {{> 5footermiddle}}
        </div>
    </div>

    {{> 6footerright}}
        </div>
    </div>
{{!-- closing div of footer below --}}
</div>