<div style="height: 100vh">
<form method="POST" class="h-100">

<div id="content-heading-b" class="text-center">
    <div class="row h-100">
        <div class="col-md-12 align-self-end">
            <h2 class="text-primary">Congratulations</h2>
        </div>
    </div>
</div>

<div id="content-main-b">
    <div class="row justify-content-center bespoke-vertical-align-b">
        <div class="col-12 text-center">
            <h5 class="py-4">You have completed the follow-up survey for the Superteams study</h5> 
            <h5 class="py-4">You have a choice about how you will be compensated: <span class="font-size-130"><strong>EITHER</strong></span></h5>
            <ul class="tucked-in-bullet-points">
                <li>$12 Amazon code (which we will send you now) <span class="font-size-140"><strong>OR</strong></span></li>
                <li>$10 in cash, to be received in person at the Harvard Decision Sciences Lab</li>
            </ul>
            <h5 class="pt-2">Please make your choice below</h5>
        </div>
    </div>
</div>

<div id="footer-b" class="row">

    <div class="offset-1 col-4">
        <div class="float-left">

            <button id="amazon-btn" name="compbutton" value="amazon" role="button" type="submit" class="btn btn-primary btn-block btn-lg text-white hand-curser w-100"><span class="font-size-100">I would like a</span><br/>
                    <span class="font-size-130"><strong>$12 Amazon voucher</strong></span>
            </button>

        </div>
    </div>

    <div class="col-2">
        <div class="text-center">

        </div>
    </div>

    <div class="col-4">
        <div class="float-right">

            <button name="compbutton" value="cash" role="button" type="submit" class="btn btn-lg orange-btn text-white btn-block hand-curser w-100"><span class="font-size-100">I would like to come to the lab to collect</span><br>
                <span class="font-size-130"><strong>$10 in cash</strong></span>
            </button>
            </div>

        </div>
    </div>


{{!-- closing div of footer below --}}
</div>

</form>
</div>

<script type="text/javascript" src="js/retrieveCodeAtSurveyEnd.js"></script>