<div class="container">
  {{> verticalCenterDiv}}
    <div class="col-md-12 text-center">
      <h2 class="text-primary m-4">
        Congratulations
        </h2>
          <h4>
            You have completed the follow-up survey for Superteams
          </h4><br>
          <h4>
            To get paid, you will…
          </h4><br>
          <h4 class="text-secondary">
            [PLACEHOLDER PAGE: BW TO CHECK ON THE MECHANICS OF PAYING PARTICIPANTS OUTSIDE OF THE LAB]
          </h4><br>
    </div>
  </div>
</div>
