<div style="height: 100vh">
<form method="POST" class="h-100">

<div class="header-or-footer-10 text-center row">
</div>
<div class="header-or-footer-10 text-center row">
    <div class="h-100 col-8 offset-2 pt-lg-5">
        <h2 class="text-primary">Congratulations</h2>
    </div>
</div>

<div class="main-h-60" id="study-conclusion-60">
    <div class="row bespoke-vertical-align-60">
        <div class="h-100 offset-1 col-10 font-size-120">
            <div class="h-100 col-sm-6 offset-sm-3 text-center">
                <div class="row h-100">

                    <p class="py-2">You have completed the follow-up survey for the Superteams study</p> 
                    <p class="py-3">You have a choice about how you will be compensated: <span class="font-size-130"><strong>EITHER</strong></span></h4>
                    <ul>
                        <li>$12 Amazon code (which we will send you now) <span class="font-size-130"><strong>OR</strong></span></li>
                        <li>$10 in cash, to be received in person at the Harvard Decision Sciences Lab</li>
                    </ul>
                    <p class="pt-4">Please make your choice below</p>
                </div>

            </div>
        </div>

</div>




<div class="header-or-footer-10 text-center row">

                    <div class="h-100 col-8 offset-2">
                    <div class="row d-flex align-items-stretch">
                        <div class="offset-1 col-5">
                            <button name="compbutton" value="amazon" role="button" type="submit" class="btn  btn-primary btn-lg  text-white btn-block hand-curser"><span class="font-size-100">I would like a</span><br/>
                                <span class="font-size-130"><strong>$12 Amazon voucher</strong></span>
                            </button>
                        </div>

                        
                        
                        <div class="col-5">
                            <button name="compbutton" value="cash" role="button" type="submit" class="btn btn-lg orange-btn text-white btn-block hand-curser"><span class="font-size-100">I would like to come to the lab to collect</span><br>
                                <span class="font-size-130"><strong>$10 in cash</strong></span>
                            </button>
                        </div>
                    </div>
                </div>

</div>
<div class="header-or-footer-10 text-center row">
</div>


</form>
</div>