<div class="container">
  {{> verticalCenterDiv}}
    <div class="col-md-12 my-5 text-center">
      <h2 class="text-primary my-5">
        Congratulations
        </h2>
          <h4>
            You have completed the follow-up survey for Superteams
          </h4><br>
          <h4>
            To get paid, you will…
          </h4><br>
          <h4 class="text-secondary">
            [Final page: we may need to give people a choice between a) being paid with an Amazon voucher and b) being paid with cash.]
          </h4><br>
    </div>
  </div>
</div>
