<div id="content-main" class="mx-xs-0 mx-sm-2 mx-md-3 mx-lg-5">
        <div class="bespoke-vertical-center">

            <div class="text-center">
            <div>
                <h3 class="p-5">Thank you for participating!</h3>
            </div>

            <div>
                <h3 class="p-5">Please bring your ID to the Harvard Decision Sciences Lab (124 Mt Auburn Street) whenever it is convenient, and you can collect $10</h3>
            </div>
        </div>

        </div>
</div>