<div id="content-main" class="mx-xs-0 mx-sm-2">
    <div class="bespoke-vertical-center">
        <div class="text-center">
            <div>
                <h2 class="py-5">Thank you for participating!</h2>
            </div>

            <div>
                <h4 class="py-2">An Amazon voucher for $12 will be sent to the following email address: <span class="text-primary">{{userEmail}}</span></h4>

                <h4 class="py-2">
                If this address is incorrect, contact <a href="mailto:benweidmann@g.harvard.edu">benweidmann@g.harvard.edu</a> (otherwise you won't receive payment!).</h4>

                <h4 class="py-2">If you don't receive the voucher in the next 24 hours, please email Ben on the above address.</h4>
            </div>
        </div>
    </div>
</div>