<div id="content-main" class="mx-xs-0 mx-sm-2 mx-md-3 mx-lg-5">
    <div class="bespoke-vertical-center">

        <div class="text-center">
        <div>
            <h3 class="p-4">Thank you for participating!</h3>
        </div>

        <div>
            <h3 class="p-4">Your Amazon code is <span class="text-primary">{{ reqsession.redemptionCode }}</span></h3>
        </div>
    </div>

    </div>
</div>