
{{> 1contentheading}}
</div>

    {{> 2contentmain}}
          <div class="bespoke-vertical-center">
              <h3 class="text-center">

                <p>Go to <a href="individual-login">login page</a></p>
                <p>On each of the question pages, the SKIP button will appear will allow you to skip the validation process. This button will be removed when the site is live</p>

              </h3>
          </div>
    </div>

{{> 3footer}}
</div>