<div id="content-heading-b" class="mx-xs-0 mx-sm-2 mx-md-3 mx-lg-5 text-center">
    <div class="row h-100">
        <div class="col-md-12 align-self-end">            
            {{> 0navbarHeader}}
            </div>
        </div>
    </div>
</div>


<div id="content-main-b">
    <div class="row justify-content-center bespoke-vertical-align-b">
        <div class="col-xs-12 col-sm-10 col-md-10 text-center">

            <h4 class="my-sm-3 my-md-4 my-lg-4 my-xl-5">On tasks 1 and 3, a <span class="pt-2 pl-2">
                    <a id="skip-btn" role="button" class="btn btn-lg btn-warning">Skip</a>
                </span> button will appear at the top left of the screen so that you can auto complete the questions.</h4>

 



            <h4 class="my-sm-3 my-md-4 my-lg-4 my-xl-5">This button will be removed when the site is live</h4>
                              
        </div>
    </div>
{{!-- closing div of end of contentmain below --}}
</div>

<div id="footer-b" class="row pb-xs-0 pb-sm-2 pb-md-3 pb-lg-5 mx-xs-0 mx-sm-2 mx-md-3 mx-lg-5">

    {{> 4footerleft}}
        </div>
    </div>

    {{> 5footermiddle}}
             <p><a class="btn btn-lg btn-success" role="button" href="individual-login">Go to login page</a></p>
        </div>
    </div>

    {{> 6footerright}}
        </div>
    </div>
{{!-- closing div of footer below --}}
</div>
