<div id="content-heading">
</div>

    <div id="content-main" class="mx-xs-0 mx-sm-2 mx-md-3 mx-lg-5">
        <div class="row justify-content-center bespoke-60vh-vertical-align">
            <div class="col-md-8 col-sm-10 p-4">
              <form method="POST">
                <fieldset class="bg-light p-4 rounded">
                    <div class="form-group">
                        <div class="my-5">
                            <label for="participant_id">First Name Heroku Test Working?</label>
                            <input type="text" class="form-control" name="firstNameOnLogin" value="" required>
                        </div>
                        <div class="my-5">
                            <label for="participant_id">Family Name</label>
                            <input type="text" class="form-control" name="familyNameOnLogin" value="" required>
                        </div>
                        <div class="my-5">
                            <label for="participant_id">Email</label>
                            <input id="email-input" type="email" class="form-control" name="emailOnLogin" value="" required>
                        </div>
                        <div>
                            {{#if errorMessage1 }}
                                <div class="error-message">{{ errorMessage1 }}</div>
                            {{/if}}
                            {{#if errorMessage2 }}
                                <div class="error-message">{{ errorMessage2 }}</div>
                            {{/if}}
                        </div>
                    </div>

                    <div class="btn-container d-flex" role="group" aria-label="Basic example">
                        
                         {{!-- Button allows user to continue survey. No form validation required --}}
                         {{!-- Should include a frontend check to see that the reqsession actually contains an email address  --}}
                        <a id="resume-survey" href="/instructions-1" role="button" class="btn btn-lg btn-warning hand-curser w-50">Resume Survey</a>
                    
                        <div class="w-50"></div>
                    
                        <button id="begin-survey" type="submit" class="btn btn-lg btn-success hand-curser w-50">Begin Survey</button>
                        
                    </div>
                </fieldset>
              </form> 
            </div>
          </div>
    {{!-- closing div of end of content main below --}}
    </div>

<div id="footer">
</div>

<script type="text/javascript" src="js/getUrlParam2.js"></script>