<form method="POST">
    <div id="content-main-100">
        <div class="row h-100 d-flex bespoke-100vh-vertical-align justify-content-center p-4">
            <div class="col-md-8 col-sm-10 p-4">

                <fieldset class="bg-light p-4 rounded">
                    <div class="form-group h-100">
                        <div class="my-4">
                            <label for="participant_id">First Name</label>
                            <input type="text" onclick="hideAlertDiv()" class="form-control" name="firstNameOnLogin" value="" required>
                        </div>
                        <div class="my-4">
                            <label for="participant_id">Family Name</label>
                            <input type="text" onclick="hideAlertDiv()" class="form-control" name="familyNameOnLogin" value="" required>
                        </div>
                        <div class="my-4">
                            <label for="participant_id">Email</label>
                            <input id="email-input" onclick="hideAlertDiv()" type="email" class="form-control" name="emailOnLogin" value="" required>
                        </div>
                        <div>
                            {{#if errorMessage1 }}
                                <div id="alert-1" class="alert alert-danger error-message text-center m-2 p-3" role="alert">{{ errorMessage1 }}</div>
                            {{/if}}
                            {{#if errorMessage2 }}
                                <div id="alert-2" class="alert alert-danger error-message text-center m-2 p-3" role="alert">{{ errorMessage2 }}</div>
                            {{/if}}
                        </div>
                    </div>

                    <div class="btn-container d-flex" role="group" aria-label="Basic example">
                        
                         {{!-- Button allows user to continue survey. No form validation required --}}

                         {{!-- Should include a frontend check to see that the reqsession actually contains an email address  --}}
                        <a id="resume-survey" href="/resume-survey" role="button" class="btn btn-lg btn-warning hand-curser w-50">Resume Survey</a>
                    
                        <div class="w-50"></div>
                    
                        <button id="begin-survey" type="submit" class="btn btn-lg btn-success hand-curser w-50">Begin Survey</button>
                        
                    </div>
                </fieldset>
              
            </div>
          </div>
    {{!-- closing div of end of content main below --}}
    </div>
</form>

<script type="text/javascript" src="js/getUrlParam4.js"></script>
<script type="text/javascript" src="js/hideAlertDiv.js"></script>