<div class="m-5 container">

{{> navbar}}

<p>The structure is based on <a href="https://docs.google.com/presentation/d/1sGx_HR5rYxqEo9WuNRyd5LBGt-9cOp2ATaFicRHBHIg/edit?usp=sharing" target="_blank">these slides.</a></p>
<p>You can jump around the website using the navbar at the top of the page.</p>
<p>Alternatively, you can follow the flow by starting at the <a href="individual-login">login page.</a></p>

</div>