<div class="container">
  <div class="row justify-content-center vertical-center">
    <div class="col-md-10 p-2">

      <p class="bigger-text m-5">The structure is based on <a href="https://docs.google.com/presentation/d/1sGx_HR5rYxqEo9WuNRyd5LBGt-9cOp2ATaFicRHBHIg/edit?usp=sharing" target="_blank">these slides.</a></p>
      <p class="bigger-text m-5">You can jump around the website using the navbar at the top of the page. This can be toggled using the blue button at the top right</p>
      <p class="bigger-text m-5">Alternatively, you can follow the flow by starting at the <a href="individual-login">login page.</a></p>

    </div>
  </div>
</div>