
{{> 0navbarHeader}}
</div> 

<div id="content-heading" class="text-center">
</div>

    <div id="content-main" class="mx-xs-0 mx-sm-2 mx-md-3 mx-lg-5">
          <div class="bespoke-vertical-center">
              <h3 class="text-center">

                <p>On tasks 1 and 3, the SKIP button will allow at the top left of the screen so that you can auto complete the questions. This button will be removed when the site is live</p>

                <p>Go to <a href="individual-login">login page</a></p>

              </h3>
          </div>
    </div>

    <div id="footer" class="row">
</div>