<div class="m-5 container">
<p>You can jump around the website using the navbar at the bottom of the page</p>
<p>Alternatively, you can follow the flow by starting at the <a href="individual-login">login page.</a></p>
</div>