<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
{{> scriptsHead }}
    
<body>

    <div id="page-container" class="container-fluid col-12">
        {{> 0header}}
        </div> {{!-- Close Header Div --}}
	    {{{body}}}
    </div>

    <script type="text/javascript" src="js/domManipulation.js"></script>
    {{!-- Temporary Script for converting property of a Google Sheets Object to an Array --}}
    <script type="text/javascript" src="js/sheetsQuestionConverter.js"></script>
    <script type="text/javascript" src="js/formValidation.js"></script>
    <script type="text/javascript" src="js/nextPage.js"></script>
    {{> scriptsFooter }}

</body>
</html>