<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
    
<body class="{{template}}">

      <div>
        <a class="btn btn-lg dropbtn" role="button" href="/">Home</a>
      </div>


    <div class="container">
    {{!-- top margin to allow space --}}
    
    <div style="margin-top:100px;"></div>
	    {{{body}}}
    </div>
    {{> footer}}
    {{> scripts}}
</body>
</html>