<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
{{> scriptsHead }}
    
<body class="{{template}}">


    {{> navbar}}
    <div class="tbc">
        <a role="button" onclick="return toggleNavbar();" class="btn btn-sm btn-primary float-right">Toggle Nav</a>
    </div>

    <div id="main-container" class="mx-5"> 


            




	    {{{body}}}
    </div>
    <script type="text/javascript" src="js/domManipulation.js"></script>
    {{> scriptsFooter }}
</body>
</html>