<div class="container">
  {{> verticalCenterDiv}}
    <div class="col-md-10 text-center">
      <h2 class="text-primary m-5">Task 3 (of 3)</h2>

          {{#each instructions3pg12}} 
            <h4 class="my-4">{{{this.text}}}</h4>                 
          {{/each}}

      <div class="text-center m-5">
        <a class="btn btn-lg btn-primary" role="button" href="scenario-1">Next</a>
      </div>
    </div>
  </div>
</div>