{{!-- Header Start --}} 
{{!-- To vertically align items to the bottom  you need both d-flex and align-items-end. text-center horizonally centers --}}
<div class="row row-10h d-xs-none d-sm-none d-md-none d-lg-none d-xl-block"> {{!-- << Don't display on small screens --}}
    <div class="h-100 d-flex align-items-end text-center "> 
        <div class="col-12">
                <h2 class="text-primary m-0 h-100">{{#each heading}} {{#if this.heading}}{{this.text}}{{/if}} {{/each}}</h2>
        </div>
    </div>
</div> {{!-- << Header End --}}



{{!-- Start of Footer --}}
<div class="row row-10h d-xs-none d-sm-none d-md-none d-lg-none d-xl-block"> {{!-- << Don't display on small screens --}}
    <div class="h-100 d-flex align-items-end text-center">
        <div class="col-md-12 font-size-90 pb-md-0 pb-lg-3 d-md-none d-lg-block">
            <div id="warning-message-small">
                {{!-- Form Validation Div --}}
            </div>

            {{#if urlsAndPages.pagination}}
                <div id="page-number">
                    <div class="text-center pt-3">
                        {{urlsAndPages.pagination}}
                    </div>
                </div>
            {{/if}}

        </div>
    </div>
</div> 
{{!-- << End of Footer  --}}